<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ko">
<head th:replace= "admin/common/head"></head>


<body>

<div>
    <table id="adminUserListTable" border="1px">
        <thead>
        <th>No</th>
        <th>ID</th>
        <th>닉네임</th>
        <th>생성일자</th>
        <th>패스워드변경일</th>
        <th>이메일</th>
        <th>계정상태</th>
        <th>권한</th>
        </thead>
        <tbody></tbody>
    </table>

    <ul id="pageList" class="pagination">
        <li class="page-item"><a class="page-link arrow first" href="#">first</a></li>
        <li class="page-item"><a class="page-link arrow pre" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link on" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link arrow next" href="#">Next</a></li>
        <li class="page-item"><a class="page-link arrow last" href="#">last</a></li>
    </ul>
</div>
</body>
<script src="/js/common/Paging.js"></script>
<script src="/js/admin/user/adminUserList.js"></script>
</html>