<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace= "user/common/head"></head>
<body>
<div class="wrap">
    <header th:replace= "user/common/header"></header>
    <div class="banner_wrap">
        <div class="banner">
            <p><img src="img/logo.png" /></p>
        </div>
    </div>
    <div class="content">

       <!-- <section layout:fragment="content" class="post"></section>-->
        <div>
            <h1>회원 가입</h1>

            <div>
                <form th:action="@{/signup}" method="post">
                    <table>
                        <tr>
                            <td>ID</td>
                            <td>
                                <input type="text" name="userId" placeholder="Enter ID">
                            </td>
                        </tr>
                        <tr>
                            <td>NickName</td>
                            <td>
                                <input type="text" name="nickName" placeholder="Enter NickName">
                            </td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" name="password" placeholder="Enter Password"></td>
                        </tr>
                        <tr>
                            <td>Recheck Password</td>
                            <td><input type="password" name="password" placeholder="Enter Recheck Password"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input type="email" name="email" placeholder="Enter Email"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="가입하기">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>


</div>
</body>
</html>
