<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/layout/loginLayout">

    <section layout:fragment="content">
    <div class="content">
        <div>
            <h1>회원 가입</h1>

            <div>
                <form th:action="@{/signup}" method="post" onsubmit="return joinMember()">
                    <table>
                        <tr>
                            <td>ID</td>
                            <td>
                                <input type="text" id="userId" name="userId" placeholder="Enter ID">
                            </td>
                            <td><button id="existBtnUserId">중복확인</button></td>
                        </tr>
                        <tr>
                            <td>NickName</td>
                            <td>
                                <input type="text" id="nickName" name="nickName" placeholder="Enter NickName">
                            </td>
                            <td><button id="existBtnNickName">중복확인</button></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td colspan="2"><input type="password" id="currentPassword" name="currentPassword" placeholder="Enter Password"></td>
                        </tr>
                        <tr>
                            <td>Recheck Password</td>
                            <td colspan="2"><input type="password" id="recheckPassword" name="recheckPassword" placeholder="Enter Recheck Password"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input type="email" id="email" name="email" placeholder="Enter Email"></td>
                            <td><button id="authEmail">인증하기</button></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input type="submit" id="joinMember" value="가입하기">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

        <script>
            function joinMember(){
                //닉네임 체크
                //비밀번호 유효성 검사
                isValidPassword(document.getElementById('password').value) //내가 체크해야할 패스워드
                //동일여부
                //인증완료

                //authEmail.js (이메일 인증에 관련된 함수만 있는 스트립트)

                return true;
            }


            function isValidPassword(){
                //비밀번호 유효성 체크
                if(true){
                    return true
                }
                return false
            }
        </script>
        <script type="text/javascript" src="/js/user/login/joinMember.js"></script>
</section>
