<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="user/layout/mainLayout">

<section layout:fragment="content">
    <div class="post-item" th:each="list:${boardList}">
      <a href="#" th:href="@{/user/board/detailPage/{boardId}(boardId = ${list.boardId})}">
        <p class="info">
          <span class="date" th:utext="${list.createDate}"></span>&middot;
          <span class="author" th:utext="${list.writer}"></span>
        </p>
        <h2 th:utext="${list.subject}">제목</h2>
        <p th:utext="${list.content}">내용</p>
        <p>...</p>
      </a>
    </div>

    <ul id="pageList" class="pagination" th:if="${currentPage <= totalPage}">
        <li class="page-item" th:if="${totalPage > 1 && currentPage != 1}">
            <a class="page-link arrow first" href="#"
               th:href="@{/main(page=${0}, categoryId=${categoryId})}">first</a>
        </li>
        <li class="page-item" th:if="${currentPage > 1}">
            <a class="page-link arrow pre" href="#"
               th:href="@{/main(page=${currentPage} - 2, categoryId=${categoryId})}">Previous</a>
        </li>

        <li class="page-item" th:each="num : ${#numbers.sequence(startPage, endPage)}">
            <a class="page-link on" href="#"
               th:if="${currentPage == num}"
               th:href="@{/main(page=${num} - 1, categoryId=${categoryId})}"
               th:utext="${num}"></a>
            <a class="page-link" href="#"
               th:if="${currentPage != num}"
               th:href="@{/main(page=${num} - 1, categoryId=${categoryId})}"
               th:utext="${num}"></a>
        </li>

        <li class="page-item" th:if="${totalPage > currentPage}">
            <a class="page-link arrow next" href="#"
               th:href="@{/main(page=${currentPage}, categoryId=${categoryId})}">Next</a>
        </li>
        <li class="page-item" th:if="${totalPage > currentPage}">
            <a class="page-link arrow last" href="#"
               th:href="@{/main(page=${totalPage} - 1, categoryId=${categoryId})}">last</a>
        </li>
    </ul>

    <script type="text/javascript" th:src="@{/js/common/Paging.js}"></script>
    <script type="text/javascript" th:src="@{/js/user/main/boardList.js}"></script>
    <script defer th:src="@{/js/common/main.js}"></script>
</section>