<header>
  <div class="gnb flex-between">
    <h1 style="margin-top: 10px;">
      <a href="/main"><img src="/img/logo5.png" /></a>
    </h1>
    <div>
      <div class="menu">
        <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
<!--        <a href="/login" class="login">로그인</a>-->

        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
          <span class="text-white mr-2 mx-2" sec:authentication="name">사용자</span>
          <span class="text-white mr-2 mx-2" sec:authentication="principal.authorities">권한</span>
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">logout</button>
        </form>

        <div class="search_area">
          <form action="/search">
            <fieldset>
              <legend>검색 영역</legend>
              <div class="inp_search inner">
                <label for="search_txt" class="blind">검색어 입력</label>
                <input type="text" class="inp_txt" name="searchText" id="search_txt" placeholder="검색어를 입력해 주세요." />
                <button type="submit" class="btn_search"><span class="ico_search">검색</span></button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="mob_cat_area mob">
        <a href="javascript:;" class="menuBtn">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div class="sideBarWrap">
          <div class="sideBarDim"></div>
          <div class="sideBar">
            <div class="sideCatecory">
              <ul>
                <li><a href="#" class="cat-item">APP</a></li>
                <li><a href="#" class="cat-item">BACKEND</a></li>
                <li><a href="#" class="cat-item">CULTURE</a></li>
                <li><a href="#" class="cat-item">DATA</a></li>
                <li><a href="#" class="cat-item">EDUCATION</a></li>
                <li><a href="#" class="cat-item">INFRA</a></li>
                <li><a href="#" class="cat-item">PROGRAMMING</a></li>
                <li><a href="#" class="cat-item">IQA/TESTING</a></li>
                <li><a href="#" class="cat-item">ROBOTICS</a></li>
                <li><a href="#" class="cat-item">SECURITY</a></li>
                <li><a href="#" class="cat-item">WEB FRONTED</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>