<header>
  <div class="gnb flex-between">
    <h1 class="logo">
      <a href="/"><span class="logoImg">우아한남매들</span>기술블로그</a>
    </h1>
    <div>
      <div class="menu">
        <a href="/login" class="login">로그인</a>
        <a href="#" class="search" id="search_open">검색</a>
        <div class="search_area">
          <form action="/search">
            <fieldset>
              <legend>검색 영역</legend>
              <div class="inp_search inner">
                <label for="search_txt" class="blind">검색어 입력</label>
                <input type="text" class="inp_txt" name="searchText" id="search_txt" placeholder="검색어를 입력해 주세요." />
                <button type="submit" class="btn_search"><span class="ico_search">검색</span></button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="mob_cat_area mob">
        <a href="javascript:;" class="menuBtn">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div class="sideBarWrap">
          <div class="sideBarDim"></div>
          <div class="sideBar">
            <div class="sideCatecory">
              <ul>
                <li><a href="#" class="cat-item">APP</a></li>
                <li><a href="#" class="cat-item">BACKEND</a></li>
                <li><a href="#" class="cat-item">CULTURE</a></li>
                <li><a href="#" class="cat-item">DATA</a></li>
                <li><a href="#" class="cat-item">EDUCATION</a></li>
                <li><a href="#" class="cat-item">INFRA</a></li>
                <li><a href="#" class="cat-item">PROGRAMMING</a></li>
                <li><a href="#" class="cat-item">IQA/TESTING</a></li>
                <li><a href="#" class="cat-item">ROBOTICS</a></li>
                <li><a href="#" class="cat-item">SECURITY</a></li>
                <li><a href="#" class="cat-item">WEB FRONTED</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>