<div class="banner_wrap">
  <div class="banner">
    <p><img src="img/logo5.png" /></p>
  </div>
</div>
<div class="container inner">
  <div class="catecory pc" id="category__content">
<!--    <a href="#" class="cat-item">APP</a>-->
<!--    <a href="#" class="cat-item">BACKEND</a>-->
<!--    <a href="#" class="cat-item">CULTURE</a>-->
<!--    <a href="#" class="cat-item">DATA</a>-->
<!--    <a href="#" class="cat-item">EDUCATION</a>-->
<!--    <a href="#" class="cat-item">INFRA</a>-->
<!--    <a href="#" class="cat-item">PROGRAMMING</a>-->
<!--    <a href="#" class="cat-item">IQA/TESTING</a>-->
<!--    <a href="#" class="cat-item">ROBOTICS</a>-->
<!--    <a href="#" class="cat-item">SECURITY</a>-->
<!--    <a href="#" class="cat-item">WEB FRONTED</a>-->
  </div>

<script type="text/javascript" th:src="@{/js/user/main/categoryList.js}"></script>