<div class="tag pc">
  <div class="title">태그</div>
  <ul id="tag__content">
<!--    <li><a href="#" class="tag-name">전체보기<span class="tag-count">(10)</span></a> </li>-->
<!--    <li><a href="#" class="tag-name">WEB<span class="tag-count">(5)</span></a></li>-->
<!--    <li><a href="#" class="tag-name">AGENT<span class="tag-count">(4)</span></a></li>-->
<!--    <li><a href="#" class="tag-name">코드리뷰<span class="tag-count">(3)</span></a></li>-->
<!--    <li><a href="#" class="tag-name">DB<span class="tag-count">(2)</span></a></li>-->
  </ul>
</div>

<script type="text/javascript" th:src="@{/js/user/main/tagList.js}"></script>