<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/layout/detailLayout">

<section layout:fragment="content">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/3.0.0/toastui-editor-plugin-code-syntax-highlight.min.css" />

    <!-- Editor -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- Editor's Plugin -->
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-uml/latest/toastui-editor-plugin-uml.min.js"></script>


    <div class="container inner">
        <div class="content_wrap">
            <div class="cont_header">
                <h1 th:utext="${board.subject}"/>
                <div class="flex-between">
                    <div class="desc">
                        <label th:utext="${board.createDate}"/> &middot; <label th:utext="${board.writer}"/>
                        <input type="hidden" id="boardId" th:value="${board.boardId}">
                    </div>
                    <div class="cont_action"></div>
                </div>
                <div class="catecory cont_category ">
                    <a href="#" class="cat-item" th:utext="${board.category.categoryName}"></a>
                </div>
            </div>
            <div class="cont_post">
                <input type="hidden" id="boardContent" th:value="${board.content}">
<!--                <p th:utext="${board.content}"/>-->
                <div id="viewer"></div>
                <div class="post_bottom">

                    <ul class="post-tag">
                        <li th:each="list : ${tagList}"
                            th:value="${list.tagCode}">
                            <a href="#" th:utext="${list.tagName}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cont_commet">
                <div class="flex-between ptb20">
                    <h4 id="commentCount"></h4>
                    <div class="btn-post-wrap flex-start">
                        <div class="btn-post">
                            <a href="javascript:;" class="btn-like">
                                <span class="ico-like">좋아요</span>
                                <span class="like-count">공감</span>
                            </a>
                        </div>
                        <div class="btn-post post-share">
                            <button type="button" class="btn-share"><span class="ico-share">공유하기</span></button>
                            <div class="post-share-box">
                                <ul>
                                    <li><a href="javascript:;" onclick="clip(); return false;">
                                        <span class="ico-sns ico-url"></span>URL 복사</a></li>
                                    <li><a href="javascript:;"><span class="ico-sns ico-kakao"></span>카카오톡으로 공유</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-column">
                    <textarea id="comment" class="comment-input" rows="8" placeholder="댓글을 작성하세요." wrap="hard"></textarea>
                    <button type="button" id="commentBtn" class="btn-comment">댓글 작성</button>
                </div>
                <div id="comment_box" class="comment-box">
                    <div class="comment">
                        <div class="flex-between">
                            <div class="cbox-info">
                                <div class="cbox_profile">김성준</div>
                                <div class="cbox_date">2021년 10월 15일</div>
                            </div>
                            <div class="cbox-action">
                                <button type="button">수정</button>
                                <button type="button" class="btn-delComment">삭제</button>
                            </div>
                        </div>
                        <div class="cbox_txt">
                            <p>김성준 댓글</p>
                        </div>
                        <div class="cbox_tool">
                            <ul class="flex-start">
                                <li><button type="button" class="btn-reply">답글</button></li>
                                <li>
                                    <a href="javascript:;" class="btn-like">
                                        <span class="ico-like">좋아요</span>
                                        <span class="like-count">공감</span><!--[D]: 1부터 counting-->
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
            <div class="post_bottom">
                <ul class="paginate">
                    <li class="prev">
                        <a href="/"><i class="ico-paginate"></i><span class="pagiTitle">이전글 제목이전글 제목이전글 제목이전글 제목이전글
                                    제목이전글 제목이전글 제목</span></a>
                    </li>
                    <li class="next">
                        <a href="/"><span class="pagiTitle">다음글 제목</span><i class="ico-paginate"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    <script>
        $(function () {
            $('.menuBtn').click(function (e) {
                e.preventDefault();
                if ($(this).hasClass('active')) {
                    $('body').removeClass('scroll-lock');
                    $('.menuBtn').removeClass('active');
                    $('.sideBarWrap').removeClass('on');
                } else {
                    $('body').addClass('scroll-lock');
                    $('.menuBtn').addClass('active');
                    $('.sideBarWrap').addClass('on');
                }
            });

            $(".sideBarDim").click(function () {
                $('body').removeClass('scroll-lock');
                $('.menuBtn').removeClass('active');
                $('.sideBarWrap').removeClass('on');

            });
            $("#search_open").click(function () {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    $('.search_area').removeClass('on');
                    $('.inp_txt').val('');

                } else {
                    $('.inp_txt').focus();
                    $(this).addClass('active');
                    $('.search_area').addClass('on');
                }
            });

        });

        (function () {

            var shareBtn = document.querySelector('.btn-share');
            var shareBox = document.querySelector('.post-share-box');

            document.querySelectorAll('.btn-like').forEach(function (e) {
                e.addEventListener('click', function (event) {
                    e.classList.toggle('on');
                });
            });

            shareBtn.addEventListener('click', function () {
                shareBox.classList.add('on');
            });

            document.body.addEventListener('click', function (e) {
                if (shareBox.classList.contains('on')) {
                    shareBox.classList.remove('on');
                }
            }, true);

            document.querySelectorAll('.btn-delComment').forEach(function (e) {
                e.addEventListener('click', deleteComment);
            });


        })();


        function enterkey() {
            if (window.event.keyCode == 13) {
                // 엔터키가 눌렸을 때
            }
        }

        function clip() {
            var url = '';
            var textarea = document.createElement('textarea');
            document.body.appendChild(textarea);
            url = window.document.location.href;
            textarea.value = url;
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
            alert('url 복사 성공!')
        }

        function deleteComment() {
            swal({
                //title: "작성한 댓글을 삭제할까요?",
                text: "작성한 댓글을 삭제할까요?",
                // icon: "warning",
                buttons: ["취소", "네!"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("삭제 완료!", {
                            icon: "success",
                        });
                    } else {
                        //swal("Your imaginary file is safe!");
                    }
                });
        }

        function deleteContent() {
            swal({
                //title: "작성한 글을 삭제할까요?",
                text: "작성한 글을 삭제할까요?",
                //icon: "warning",
                buttons: ["취소", "네!"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("삭제 완료!", {
                            icon: "success",
                        });
                    } else {
                        //swal("Your imaginary file is safe!");
                    }
                });
        }
    </script>

<script type="text/javascript" th:src="@{/js/user/board/commentForm.js}"></script>
</section>
</html>